/* Footer Container */
.footer {
  width: 100%;
  height: 60px;
  background-color: #111827;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 25px;
  font-size: 14px;

  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

/* Footer Links */
.footer a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

/* Hover */
.footer a:hover {
  color: #38bdf8;
}
